<h1><%= @patron.first_name + " " + @patron.last_name %></h1>

<p>
	<table>
	<tr>
		<th>Name</th>
		<th>Address</th>
		<th>Phone Number</th>
		<th></th>
    <th></th>
	</tr>

	<tr>
		<td><%= @patron.first_name + " " + @patron.last_name %></td>
		<td><%= @patron.street_address %>
			<br><%= @patron.city + ", " + @patron.state.upcase + " " + @patron.zip %>
		</td>
		<td><%= @patron.phone_number %></td>
  	<td><%= link_to "Edit", edit_patron_path(@patron) %></td>
  	<td><%= link_to "Remove", @patron, method: :delete, data: { confirm: "Are you sure?" } %></td>
	</tr>
</table>
</p>

</hr>

<p>
	<table>
		<tr>
			<th>Books Currently Checked Out</th>
			<th>Past Books Rented</th>
		</tr>

		<%= @patron.books.each do |book| %>
			<tr>
				<td></td>
				<td><%= book.title %></td>
			</tr>
	</table>
</p>
