<h1>Library Manager</h1>

<p>
	<%= link_to "Check Out", new_transaction_path %>
</p>

<p>
	<%= link_to "Check In", new_transaction_path %>
</p>

<p>
	<%= link_to "Books", menu_books_path %>
</p>

<p>
	<%= link_to "Patrons", menu_patrons_path %>
</p>

<p>
	<%= link_to "Transactions", menu_transactions_path %>
</p>
