<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Dashboard</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="panel">
      <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#checkOutModal">Check Out</button>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel">
      <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#checkInModal">Check In</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-green">
      <div class="panel-heading">
        Books Recently Checked Out
      </div>
      <div class="panel-body">
        <% @books.each do |book| %>
          <% if @soon_range === book.due_date then %>
            <%= book.title %> - <%= book.id %>
          <% end %>
        <% end %>
      </div>
      <div class="panel-footer">
        links to printables/pdfs/data
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-yellow">
      <div class="panel-heading">
        Books Due Soon
      </div>
      <div class="panel-body">
        <% @books.each do |book| %>
          <% if book.due_soon? then %>
            <%= book.title %> - <%= book.id %><br>
          <% end %>
        <% end %>
      </div>
      <div class="panel-footer">
        links to printables/pdfs/data
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-red">
      <div class="panel-heading">
        Books Overdue
      </div>
      <div class="panel-body">
        <% @books.each do |book| %>
          <% if book.overdue? then %>
            <%= book.title %> - <%= book.id %><br>
          <% end %>
        <% end %>
      </div>
      <div class="panel-footer">
        links to printables/pdfs/data
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        All Books Checked Out
      </div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <% @books.each do |book| %>
            <% if book.checked_out? then %>
              <li><%= book.title %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="panel-footer">
        links to printables/pdfs/data
      </div>
    </div>
  </div>
</div>

<!-- Check Out Modal -->
<div class="fade modal" id="checkOutModal" tabindex="-1" role="dialog" aria-labelledby="checkOutModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="checkOutModalLabel">Check Out</h4>
      </div>
      <div class="modal-body">
        <%= render 'form', type: 1 %>
      </div>
    </div>
  </div>
</div>

<!-- Check In Modal -->
<div class="fade modal" id="checkInModal" tabindex="-1" role="dialog" aria-labelledby="checkInModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="checkInModalLabel">Check In</h4>
      </div>
      <div class="modal-body">
        <%= render 'form', type: 2 %>
      </div>
    </div>
  </div>
</div>
