<%= form_for @book do |f| %>
  
  <% if in_modal then %>
    <div class="modal-body">
  <% end %>
  
  <div class="form-group">
    <label>Title</label>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label>Author's Last Name</label>
    <%= f.text_field :author_last_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label>Author's First Name</label>
    <%= f.text_field :author_first_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label>Genre</label>
    <div class="radio">
      <% @genres[0..-2].each do |g| %>
        <label><%= f.radio_button :genre_id, value: g.id, class: 'form-control' %><%= g.name %></label><br>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <label>ISBN-10</label>
    <%= f.text_field :isbn_10, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label>ISBN-13</label>
    <%= f.text_field :isbn_13, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label>Publish Date</label>
    <%= f.date_field :publish_date, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label>Fiction?</label>
    <%= f.check_box :is_fiction, class: 'checkbox' %>
  </div>
  <div class="form-group">
    <label>Rating</label>
    <%= f.text_field :rating, class: 'form-control' %>
  </div>
  <%= render 'form_btns', in_modal: in_modal, f: f %>
<% end %>
