<%= form_for @transaction do |f| %>
  <% if type == 1 then %>
    <div class="form-group">
      <label>Patron ID</label>
      <%= f.text_field :patron_id, class: 'form-control' %>
    </div>
  <% end %>
  <%= f.hidden_field :book_id, value: params[:book_id] %>
  <%= f.hidden_field :transaction_type_id, value: type %>
  <%= f.submit "Submit", class: 'btn btn-primary' %>
  <button type="reset" class="btn btn-default">Reset</button>
  <% if current_page? patrons_path then %>
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
  <% end %>
<% end %>
