<h1>Transaction Search</h1>

<%= form_tag("search", method: "get") do %>
	<%= label_tag(:q, "Patron ID:") %>
	<%= text_field("patron","id") %>
	<br>
	<%= label_tag(:q, "Book:") %>
	<%= text_field("book","id") %>
	<br>
	<%= label_tag(:q, "Date:") %>
	<%= date_field("transaction", "created_on") %>
	<br>
  <%= submit_tag("Search") %>
<% end %>
